
.container {
  width: 390px;
  height: 800px;
  padding-top: 50px;
  padding-left: 0;
  background-color: #F4EBE4;
  /* display: flex; */
  position: relative; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.signup-container{
  width: 370px;
  height: 750px;
  margin-left: 10px;
  }
.signup-text{
  text-align: center;
}
.signup-p{
  margin-top: 40px;
  margin-left: 80px;
}
/* Styles for buttons */
.signup-btn{
  margin-left: 120px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 130px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px;
}


.login-btn,
.chat-btn
{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.answer-btn{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    width: 120px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 4px;
}


.sb-submit-btn{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-top: 25px;
  margin-left: 80px;
  padding: 3px;
}

.sb-add-btn {
  
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 150px;
  padding: 10px;
  position: absolute;
  bottom: 90px;
  left: 33%;
}

/* Styles for buttons with longer text */
.cal-popup{
  background-color: white;
  padding: 5px;
  margin-left: 5px;
  display: flex;
  align-self: center;
}
.cal-form-btn,
.cal-add-btn {
  width: 180px;
  height: 30px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  margin-bottom: 5px;
}

.change-username-btn {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-bottom: 15px;
  padding: 5px;
}


.setting-btns{
 /* margin-top: 150px; */

}
.logo2 {
  width: 350px;
  margin-left: 25px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.logo3{
  width: 350px;
  margin-left: 25px;
  margin-top: 80px;

}
.logo4{
  width: 370px;
  margin-left: 10px;
  margin-top: 50px;

}


.logout-btn ,.info-btn{
  width: 200px;
  height: 50px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 100px;

}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4EBE4;
}

.logo {
  width: 95%;
  max-width: 95%;
}
.logo-main{
  width: 30%;
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
}

h3 {
  text-align: left;
  margin-left: 4px;
  margin-bottom: 10px;
}

.navbar {
  background-color: white;
  /* display: inline-flex;  */
  justify-content: space-between;
  list-style: none;
  position: absolute; 
  height: 50px; /*added*/
  width: 100%;
  bottom: 0;
  padding-right: 20px;
}

.banner{
  display: inline-flex;
  position:fixed;
  top:0;
  background-color: rgb(196, 188, 188);
  width: 390px;

}

.banner-txt{
   font-size: 20px;
   margin-top: 10px;
   margin-left: 15px;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.chat-element {
  list-style: none;
}

.close-btn {
  float: right;
  margin-right: 1px;
  background-color: white;
  border-radius: 20px;
  border: none;
}

.cal-container {
  margin-top: 0;
}
.question{
  background-color: beige;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  
}
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-left: 6px;
  height: 70%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;

}

.question-info{
  font-size: 15px;
}

.question-btns{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.question-check-btn, .question-write-btn{
  width: 180px;
  height: 40px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
}
.secret-container{
  margin-top: 30px;
  width: 390px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.sb-nodata{
  display: flex;
  width: 300px;
  height: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 150px;
  justify-content: center;
  margin-left: 45px;

}
.sb-nodata-item{
  justify-content: center;
  align-self: center;

}
.sb-delete{
  border-radius: 15px;
  margin-left: 70px;
  background-color: white;
  border-style: none;
  padding: 5px;
  margin-top: 20px;
}
.sb-answer{
  background-color: rgb(248, 230, 198);
  height: 180px;
  width: 220px;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  padding-top: 40px;
  margin-right: 20px;
}
.sb-username{
  background-color: white;
  /* width: 100px; */
  border-radius: 30px;
  padding: 2px;
  text-align: center;
  margin-top: 5px;
}
.sb-answer-container {
  border-radius: 10px;
  margin-top: 10px;
  list-style: none;
  background-color: white;
  padding: 5px;
}
.answer-question{
  padding: 10px;
  
}

.answer-save{
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: 10px;


}
.answer-item,.answer-list, .secret-list{
list-style: none;
}

.answer-label{
  margin-left: 40px;
}

.answer-popup{
  background-color:blanchedalmond;
  margin-left: 150px;
  transform: translate(-30%, -10%);
  width: 270px;
  padding: 10px;
}
.answer-pop{
  background-color: white;
  margin: 15px;
  margin-bottom: 5px;
  padding: 5px;
}

.past-answer{
  background-color: white;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.letter-icon {
  margin-top: 40px;
  width: 150px;
  height: 150px;
}

.nav-icons {
  width: 30px;
  height: 30px;
  margin-left: 30px;

}

.msg-container{
  display: flex;
  /* justify-content:flex-end; */
  align-items: flex-end;
  width:100%;
  height: 88%;

}

.messages{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.sent {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  /* text-shadow: 4px 4px 3px #77f; */
  background-color: white;
  border-radius: 50px;
  margin: 3px;
  padding-right: 5px;
}

.received {
  
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
    padding-left: 5px;
  background-color: rgb(220, 220, 220);
  border-radius: 50px;
    margin: 3px;
}

.chat-time{
  margin-top: 10px;
  font-size: 8px;
}


/* original css code for message */


.chat-form{
  position:absolute;
  bottom: 40px;
}

.chat-form input{
  margin-left: 15px;
  height: 25px;
  width:250px;
  margin-right: 10px;
}
.secret-list{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
  /* margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-left: 10px; */
}

.popup{
  border-radius: 10px;
  background-color: white;
  margin: 20px;
  width: 265px;
  /* height: 200px; */
  padding: 20px;
  padding-right: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -70%);
}
.sb-form{
  
  background-color: white;
  padding-top: 35px;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 35px;
 
}

.sb-boxes{
  margin-top: 30px;
  margin-right: 20px;
}
.box-icon{
  width: 80px;
}
.emptybox-icon{
  width:120px;
  margin-left: 60px;
  margin-bottom: 15px;
}
.info-container{
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 150px;
  margin-left: 45px;
  padding: 20px;
  text-align: center;


}


.ur-info{
  text-align: center;
}




@media only screen and (max-width: 390px) {

}
