.container {
  width: 390px;
  height: 800px;
  padding-top: 50px;
  padding-left: 0;
  background-color: #F4EBE4;
  /* display: flex; */
  position: relative; 
}

/* Styles for buttons */
.signup-btn,
.login-btn,
.chat-btn,
.answer-btn{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sb-submit-btn{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-top: 25px;
  margin-left: 80px;
  padding: 3px;
}

.sb-add-btn {
  
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 150px;
  /* margin-top: 15px;
  margin-bottom: 15px; */
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 33%;
}

/* Styles for buttons with longer text */

.cal-form-btn,
.cal-add-btn {
  width: 180px;
  height: 30px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  margin-bottom: 5px;
}

.change-username-btn {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-bottom: 15px;
  padding: 5px;
}


.setting-btns{
 margin-top: 150px;

}

.logout-btn ,.info-btn{
  width: 200px;
  height: 50px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 100px;

}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4EBE4;
}

.logo {
  width: 95%;
  max-width: 95%;
}
.logo-main{
  width: 30%;
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
}

h3 {
  text-align: left;
  margin-left: 4px;
  margin-bottom: 10px;
}

.navbar {
  background-color: white;
  /* display: inline-flex;  */
  justify-content: space-between;
  list-style: none;
  position: absolute; 
  height: 50px; /*added*/
  width: 100%;
  bottom: 0;
  padding-right: 20px;
}

.banner{
  display: inline-flex;
  position:fixed;
  top:0;
  background-color: rgb(196, 188, 188);
  width: 390px;

}

.banner-txt{
   font-size: 20px;
   margin-top: 10px;
   margin-left: 15px;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.chat-element {
  list-style: none;
}

.close-btn {
  float: right;
  margin-right: 8px;
  background-color: white;
  border-radius: 20px;
  border: none;
}

.cal-container {
  margin-top: 0;
}
.question{
  background-color: beige;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  
}
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-left: 6px;
  height: 70%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;

}

.question-info{
  font-size: 15px;
}

.question-btns{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.question-check-btn, .question-write-btn{
  width: 180px;
  height: 40px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
}

.sb-answer-container {
  border-radius: 10px;
  margin-top: 10px;
  list-style: none;
  background-color: white;
  padding: 5px;
}
.answer-list, .secret-list{
list-style: none;
}
.past-answer{
  background-color: white;
  padding: 5px;
  margin: 3px;
}
.letter-icon {
  margin-top: 40px;
  width: 150px;
  height: 150px;
}

.nav-icons {
  width: 30px;
  height: 30px;
  margin-left: 30px;

}
/* does not work but something like this  */
.message-left {
  text-align: left;
  padding-left: 10px;
  /* background-color: red; */
}

.message-right {
  text-align: right;
  padding-right: 10px;
  /* background-color: blue; */
}
/* original css code for message */
/* .message{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */
.msg-container{
  display: flex;
  justify-content:flex-end;

  /* flex-direction: column; */
  align-items: flex-end;
  width: 390px;
  height: 650px;

}
.chat-form{
  position:absolute;
  bottom: 40px;
}

.chat-form input{
  margin-left: 15px;
  height: 25px;
  width:250px;
  margin-right: 10px;
}
.secrets{
  background-color: white;  
  border-radius: 5%;
  padding: 1px;
  margin: 10px;
}
.sb-form{
  
  background-color: white;
  padding-top: 35px;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 35px;
 
}

.sb-boxes{
  margin-top: 30px;
  margin-right: 20px;
}

.info-username{
  display:inline-flex;
}


@media only screen and (max-width: 390px) {

}
